@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  body {
    @apply text-background font-body;
  }

  nav {
    @apply bg-blue;
  }

  footer {
    @apply pb-16 relative border-t border-light-gray bg-footer;
  }

  p {
    @apply leading-7;
  }

  h1 {
    @apply md:text-4xl text-3xl;
  }
  h2 {
    @apply md:text-3xl text-2xl;
  }
  h3 {
    @apply md:text-2xl text-xl;
  }
  h4 {
    @apply md:text-xl text-lg;
  }
  h5 {
    @apply md:text-lg;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-black font-display;
  }

  img {
    @apply max-w-full;
  }

  a {
    @apply text-black transition-all hover:text-purple;
  }

  button {
    @apply focus:outline-none;
  }

  code {
    @apply font-code;
  }
}

code * {
  font-family: var(--code-font);
  font-size: 1rem;
}

/*

.vertical-padding {
  padding: 5rem 0;
}


.shadow-container {
  background: #fff;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

body.modal-open {
  overflow: visible;
}

*/

@layer components {
  .divider {
    @apply w-11/12 bg-purple h-px mx-auto;
  }

  .divider-small {
    @apply w-12;
  }

  .shadow-container {
    @apply bg-white text-center border border-transparent transition-all shadow-[0_3px_7px_rgba(0,0,0,0.2)] rounded;
  }

  .wrapper {
    @apply flex flex-col items-center w-11/12 md:w-5/6 mx-auto my-16;
  }
}
